html
head

body
-let i = 0;

h1= 'My title: '

    table(style='width:100%', border='1')
        tr
            th='title'
            th='description'
            th='category'
            th='Actual'
            th='del'
        each val in tasks
            tr
                form(action=`/task`, method='POST')
                     td(style='width:30%')
                         p=val.title
                            //form(action=`/task11`, method='POST')
                            input(type="text" name="title2" placeholder="Title ")
                            //input(type='submit')
                     td(style='width:50%')
                         p=val.description
                         //input(type="text" name="title3" placeholder="Description ")
                         //input(type='submit')
                     td= val.categoryName
                     if val.actualDate > newData
                         td= 'actual'
                     else
                         td= 'no actual'
                     td
                          input(type='submit', value='delete' name=val._id)

    form(action='/tasks', method='POST')
        p Actual Date:
            select(name = 'value')
                each time, index in dataTime
                    option(value=time) #{time}
            select(name = 'value')
                each value, index in dataValue
                    option(value=value) #{value}
            p title:
            input(type="text" name="title" placeholder="Title ")
            p description:
            input(type="test" name="description" placeholder="Description ")
            p cat:
            p Actual Date:
            select(name = 'category')
                each category, index in allCategory
                    option(value=time) #{category.category}
            input(type="submit" value='Submit')
